#navbar {
    background-color: #514b97;
    color: rgb(221, 148, 39);
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
#navbar a {
    color: rgb(245, 191, 191);
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

@media(max-width:500px) {
    body {
        background-color: rgb(226, 146, 146);
    }

    #smartphone {
        display: block;
    }
}

@media(min-width: 501px) and (max-width:768px) {
    body {
        background-color: rgb(138, 233, 138);
    }

    #tablet {
        display: block;
    }
}

@media(min-width: 769px) and (max-width:1200px) {
    body {
        background-color: cyan;
    }

    #normal {
        display: block;
    }
}

@media(min-width: 1201px) {
    body {
        background-color: rgb(113, 83, 83);
    }

    #widescreen {
        display: block;
    }
}
@media(max-height: 500px) {
    body {
        background-color: rgb(255, 181, 43);
    }

    #landscape {
        display: block;
    }
}
